
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
[id] {
  scroll-margin-top: 5rem;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: currentColor;
}
/** remove bullets from list items and position them well */
ul {
  list-style: none;
  list-style-position: unset;
}

body {
  background-color: hsl(0, 2%, 68%);
  color: hsl(0, 0%, 26%);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-family: "Domine", serif;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 86%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top:hover {
  box-shadow: 0px 0px 2px hsl(0, 0%, 86%);
}

.back-to-top > img {
  width: 1rem;
  height: 1rem;
  margin: 0.5em;
}

header,
main,
aside,
footer {
  padding: 0 100px;
}

.header-wrapper,
.main-wrapper,
.aside-wrapper,
.footer-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1440px;
}

/** header */
header {
  text-align: center;
  background-color: #006d5b;
  color: #eee;
  position: relative;
}

a.contribute-link {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0 10px;
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 26%);
  border-radius: 0 0 5px 5px;
}

.contribute-link > img {
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

.header-wrapper {
  padding: 60px 0;
}

.header-title {
  font-family: "Poppins", sans-serif;
}
.header-subtitle {
  margin-top: 30px;
}

.company-nav-links {
  margin-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.company-nav-links > a:hover {
  text-decoration: underline;
}

/** companies  */
main {
  margin-top: 40px;
  margin-bottom: 40px;
}

.company-sections {
  margin-bottom: 20px;
}

.section-id {
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  width: max-content;
  margin: 0 auto;
  border-bottom: 2px solid #006d5b;
  padding: 0 3px;
}

.companies-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.company-card {
  margin: 30px;
  padding: 20px;
  background-color: hsl(0, 0%, 20%); /* Darken the card background color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Improve the box shadow */
  border: none; /* Remove the border */
  border-radius: 15px; /* Make the card rounded */
}


.company-card_name {
  display: inline-block;
  font-size: 1.2rem; /* Slightly increase the font size */
  text-transform: capitalize;
  color: hsl(0, 0%, 100%); /* Set text color to white */
}

.company-card_website:hover img {
  width: 1em;
  height: 1em;
}

.company-card_website > img {
  width: 1.2em;
  height: 1.2em; /* Slightly increase the icon size */
  margin-left: 8px; /* Increase the margin for spacing */
}

.company-card > p {
  color: hsl(0, 0%, 60%); /* Adjust the text color */
}

.company-card_founders > a,
.company-card_twitter-handle > a {
  color: hsl(197, 100%, 47%);
}

.company-card_founders > a:hover,
.company-card_twitter-handle > a:hover {
  color: hsl(197, 100%, 67%);
}

/** footer */
footer {
  background-color: #006d5b;
  color: #eee;
}

.footer-wrapper {
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright > img {
  width: 1em;
  height: 1em;
  margin-right: 3px;
}

.attribution {
  margin-top: 5px;
}

.attribution > a {
  color: white;
  font-weight: bold;
}

.attribution > a:hover {
  font-weight: normal;
}

.input-search {
  padding: 0.6rem 0.5rem;
  border-radius: 0.2rem;
  border: none;
  margin-top: 1rem;
  width: 50%;
  box-shadow: none;
  outline: none;
}
/*! Main CSS (End)*/

/*! Media Queries (Start)*/
@media screen and (max-width: 1240px) {
  header,
  main,
  footer {
    padding: 0 80px;
  }
  .companies-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  header,
  main,
  footer {
    padding: 0 60px;
  }
}

@media screen and (max-width: 600px) {
  header,
  main,
  footer {
    padding: 0 20px;
  }
  .header-wrapper {
    padding: 40px 0;
  }

  .companies-list {
    grid-template-columns: 1fr;
  }
}
/*! Media Queries (Ebd)*/
